doctype html
html(lang="en")
  head
    title
  body
    h1= title
    h3 Instructions
    br
    ul
      li Please use
        b /:email/:calendar
        | or
        b /:email/:calendar/:event
        | for your queries
      li
        | A user interface can be found 
        a(href='/') here.
